* {
    margin: 0;
    font-family: "jua";
}

@font-face {

  src : url("./fonts/BMJUA_ttf.ttf");
  font-family: "jua" 

}

.rental-p {
  
  margin-top: 10px;
  margin-left: 130px;
}

.comment-btn {
  float: right;
  margin-right: 23%;
}

.del-btn, .update-btn {
  background-color: #42413f;
  border-color: #42413f;
  color: white;
  font-size: 15px;
  border-radius: 10px;
}

.new-btn {
  background-color: #42413f;
  border-color: #42413f;
  color: white;
  font-size: 15px;
  border-radius: 10px;
  float: right;
  margin-right: 23%;
}

input[type=password] {
  font-family: "Aria";
}

.star {
  margin-left: 45%;
}

.comment {
  float: left;
  width: 250px;
  margin-left: 20%;
}

.star-rating {
    
    display:flex;
    flex-direction: row-reverse;
    font-size:1.5em;
    justify-content:space-around;
    padding:0 .2em;
    text-align:center;
    width:5em;
  }

  .star-rating input {
    display:none;
  }
  
  .star-rating label {
    color:#ccc;
    cursor:pointer;
  }
  
  .star-rating :checked ~ label {
    color:#f90;
  }
  
  .star-rating label:hover,
  .star-rating label:hover ~ label {
    color:#fc0;
  }

  .starValue {
  
    font-size:1.5em;
    justify-content:space-around;
    padding:0 .2em;
    text-align:center;
    
}

 .star-yello {
    display: inline;
    color:#f90;
 }

 .star-gray {
    display: inline;
    color:#ccc;
 }
  
  

#left {
    text-align : left;
}

.detail-img {
  width: 400px;
  height: 450px;
  margin-bottom: 3%;
}

.imgs {
    width: 200px;
    height: 250px;
    margin-bottom: 20px;

}

.book_detail {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;

}

.book-name {
  margin-bottom:3%;
  text-align: center;
}

.detail-img, .detail {
  display: inline-block;
}
.detail-des {
  display: block;
}



.description {
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    
}


.booklist {
    list-style:none;
    display:grid; 
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 610px 610px ;
    gap: 30px 30px;
    padding-top: 5%;
    padding-left: 10%;

}


.card-body {
    display: inline-block;
    width: 250px;
    height: 610px;
    outline: 3px solid gray;
}


.book_return_id {
    text-align: right;
}

.login-before {
  color:rgb(187, 81, 81);
}

a { 
    display: inline;
    text-decoration:none;
    margin-bottom: 10px;
 } 

 .new-star-rating {
    display:flex;
    flex-direction: row-reverse;
    font-size:1.5em;
    justify-content:space-around;
    padding:0 .2em;
    text-align:center;
    width:5em;
  }

  .new-star-rating input {
    display:none;
  }
  
  .new-star-rating label {
    color:#ccc;
    cursor:pointer;
  }
  
  .new-star-rating :checked ~ label {
    color:#f90;
  }
  
  .new-star-rating label:hover,
  .new-star-rating label:hover ~ label {
    color:#fc0;
  }

  .title {
    padding-top: 5%;
    text-align: center;
  }

  .form-label {
    height: 30px;
  }

  .mypage-h3 {
    padding-top: 10px;
    text-align: center;
    color:#B5B4B4;
    
  }
  .join-form {
    text-align: center;
    border: solid 2px;
    width: 800px;
    height: 450px;
    margin-left: 23%;
  }

  .login-form {
    text-align: center;
    border: solid 2px;
    width: 800px;
    height: 300px;
    margin-left: 23%;
  }
  
  .join-label {
    display: block;
    background-color: gray;
  }

  .help-label {
    color: #B5B4B4;
    display: block;
  }

  .detail-label {
    margin-left: 25%;
    display: block;
    width: 50%;
    background-color: #B5B4B4;
  }

  #join-button {
    margin-top: 5%;
    text-align: center;
  }

  .login-go, .join-go {
    text-align: center;
    display: block;
    color:black;
  }

  .book-p {
    color: #75736e ;
    margin-bottom: 10px;
    
  }

  .rental-button, .return-button {
    float: right;
    background-color: #42413f;
    border-color: #42413f;
    color: white;
    border-radius: 10px;
    margin-left: 5px;
  }

  .check-btn {
    background-color: #42413f;
    border-color: #42413f;
    color: white;
  }
  
  
.snip1535 {
  background-color: #42413f;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-size: 22px;
  line-height: 1em;
  margin: 15px 40px;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
}
.snip1535:before,
.snip1535:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}
.snip1535:before {
  border-color:#42413f;
  border-right-width: 2px;
  border-top-width: 2px;
  right: -5px;
  top: -5px;
}
.snip1535:after {
  border-bottom-width: 2px;
  border-color: #42413f;
  border-left-width: 2px;
  bottom: -5px;
  left: -5px;
}
.snip1535:hover,
.snip1535.hover {
  background-color: #42413f;
}
.snip1535:hover:before,
.snip1535.hover:before,
.snip1535:hover:after,
.snip1535.hover:after {
  height: 100%;
  width: 100%;
}

.nav-style {
  Position: Fixed;
  width: 100%;
}

.rental-btn, .return-btn {
  text-align: center;
  background-color: #42413f;
  border-color: #42413f;
  color: white;
  border-radius: 10px;
  margin-left: 5px;
}