{% extends "base.html" %}
<head>
    {% block head %}
    {{ super() }}

    <script>
        
        function login() {
            let user_id = $("#userId").val()
            let user_pw = $("#userPw").val()

            if (user_id == '' || user_pw == '') {
                $().ready(function () { $("#join-button").click(function () { 
                    Swal.fire({ 
                    icon: 'error', // Alert 타입 
                    title: '오류!', // Alert 제목 
                    text: '아이디와 비밀번호를 입력해주세요!', // Alert 내용
                 }); }); });
                return ;
            }
            
            $.ajax({
                url: '/login',
                type: 'post',
                data : {
                    'user_id':user_id,
                    'user_pw':user_pw
                },
                success: function(res){
                    if(res['result'] == 'success'){
                        $().ready(function () {  
                            Swal.fire({ 
                            icon: 'success', // Alert 타입 
                            title: '완료!', // Alert 제목 
                            text: "로그인 성공!", // Alert 내용
                         }); }); 
                        
                         setTimeout(function() {
                            window.location.href = '/'
                          }, 2000);
                        
                    }
                    else {
                        $().ready(function () {  
                            Swal.fire({ 
                            icon: 'error', // Alert 타입 
                            title: '실패!', // Alert 제목 
                            text: "아이디와 비밀번호를 다시 확인해주세요!", // Alert 내용
                         }); }); 
                        
                         setTimeout(function() {
                            window.location.reload()
                          }, 2000);
                        
                    }
                }
            })
        }
    </script>
    {% endblock %}
</head>

<body>
{% block nav %}
{{ super() }}
<h2 class="title">Elice 도서관 로그인</h2>
<hr>
<div class="login-form">
    <div >
        <div >
            <label >ID</label>
            <div >
                <input type="text" id='userId'  placeholder="elice@elice.com">
            </div>
        </div>
        <div >
            <label >Password</label>
            <div>
                <input type="password" id="userPw">
            </div>
        </div>
        <button  class="snip1535" id='join-button' onclick=login()>로그인하기</button>
        <a class="join-go" href="/join">회원가입하기</a>
    </div>
</div>
<hr>
{% endblock %}
</body>
